/* msqur - MegaSquirt .msq file viewer web application
Copyright 2014-2019 Nicholas Earwood nearwood@gmail.com https://nearwood.dev

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */

/*
Favicon - Contrail One
Primary:
#90a4ae
#c1d5e0 light
#62757f dark

Secondary:
#ff6f00
#ffa040 light
#c43e00 dark

black text on all except dark
*/
body, button {
	font-family: "Verdana", sans-serif;
}

html, body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body:after {
    line-height: 120px; /* height of footer */
    white-space: pre;
    content: "\A";
}

div.error {
	color: darkred;
}

div.warn, div.warning {
	color: darkorange;
}

div.warn2 {
	color: orangered;
}

div.info {
	color: #111;
}

div.debug {
	font-family: monospace !important;
	color: black;
}

.topnav {
	padding: 5px 5px 5px 5px;
	background: #90a4ae;
	color: black;
}

div#navigation {
	background: #90a4ae;
	color: black;
	/* padding: 8px 10px 8px 0px; */
}

div#loginstatus {
	color: #e4e4e4;
	background: #90a4ae;
	margin-left: 2vh;
}

.loginstatus {
	float: right;
}
.loginstatus a{
	padding: 0px 8px 0px 8px;
}

div#navigation span {
	font-weight: bold;
	/* padding: 0px 8px 0px 8px; */
	text-decoration: none;
}

div#navigation logo {
	margin-right: 5vh;
	margin-left: 2vh;
}

div#navigation a:link, a:active, a:visited {
	color: #cfcfcf;
	text-decoration: none;
	
}
div#navigation a:hover {
	color: #222222;
}
div#navigation.topnav.responsive span a:not(:first-child) {
	margin-top: 1vh;
}

div#navigation.topnav.responsive .icon {
	color: #222222;
}

@media screen and (max-width: 1023px) {
	.topnav a:not(:first-child) {display: none;}
	.loginstatus {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
	[id^='content']	{
		overflow-x:auto;
	}
	/* #ts-dialogs {
		overflow-x:auto;
	} */
  }

@media screen and (max-width: 1023px) {
	.topnav.responsive {position: relative;}
	.loginstatus.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 5px;
	  top: 5px;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.loginstatus.responsive {
		float: none;
		display: flex;
		text-align: left;
		margin-top: 1vh;
	  }
  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }
/*
div#navigation a:link {
	color: #ff6f00;
}
div#navigation a:hover {
	color: #c43e00;
}
div#navigation a:active {
	color: #ffa040;
}
div#navigation a:visited {
	color: #c43e00;
}
*/

div#splash img.tutorial {
	margin-bottom: 32px;
}

div#settings {
	z-index: 999;
	background: rgba(224, 224, 224, 32);
	float: right;
	margin-top: 4px;
}

img#settingsIcon {
	cursor: pointer;
}

div#downloadLink {
	margin: 5px;
	float: right;
}

div#tsSettings {
	margin: 5px 20px 5px 5px;
	float: right;
}

#fileDropZone {
	border: 2px dashed #bbb;
	border-radius: 5px;
	padding: 25px;
    margin: 0 auto;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

table {
	border-collapse: collapse;
	border: 1px solid #CCC;
	/*width: 100%;*/
}

table caption {
	caption-side: top;
	font-size: 0.75em;
	font-style: bold;
	text-align: left;
	padding: 0.2em;
}

table.msq td:hover {
	background-color: magenta !important;
}

table th, table td {
	padding: 4px;
	border: 1px dotted #333;
	font-size: smaller;
	text-align: center;
	white-space: nowrap;
}

/* eh, need to switch top/bottom border dep. on where the header is */
table th[scope=col] {
	border-top: 2px solid #333;
	border-right: 2px solid #333;
}

/* inbetween headers but not ends */
table th+th[scope=col] {
	border-right: 1px dotted #666;
}

table th[scope=row] {
	border-right: 2px solid #333;
}

.theader {
	background-color: #90a4ae;
}

div.curve {
	display: inline-block;
	vertical-align: top;
}

div.chart {
	/* float: right; */
	padding: 24px;
	display: inline-block;
	width: 480px;
	height: 320px;
}

/* msqur.css | http://localhost:5050/view/msqur.css */

div#tab_constants {
	display: flex;
  flex-flow: column wrap;
  max-height: 900px;
  overflow: auto;
  max-width: 100%;
}

span.constant:nth-child(even) {
	background-color: #e4e4e4;
}

span.constant {
	margin: 0px 10px;
}

span.constant span.value {
	float: right;
}

#engineForm {
	width: 100%;
	display: table;
}

#engineForm div.formDiv {
	display: table-row;
}

#engineForm input, #engineForm label {
	display: table-cell;
	width: 100%;
}

.logContainer {
	width: 95%;
	margin: 10px 0;
	border: none;
}

.logTable {
	width: 100%;
	padding: 0px;
}

.logTd {
	vertical-align: top;
	border: none;
}

.logStart {
	background-color: #efefef;
	padding-right: 10px;
	vertical-align: top;
}

.logIdling {
	background-color: #efefca;
	padding-right: 10px;
	vertical-align: top;
}

.logRunning {
	background-color: #d3efd3;
	padding-right: 10px;
	vertical-align: top;
}

.logLabel {
	display: table-cell;
	text-align:left;
}

.logInput {
	display: table-cell;
	text-align:right;
}

.logViewPage {
	width: 95%;
	padding: 20px;
}

input#logLabelOneLine {
	width:50%;
	display: inline;
	text-align:left;
}

input#logInputOneLine {
	width:50%;
	display: inline;
	text-align:left;
}

canvas#logCanvas {
	background-color: #000;
}

#engineForm span {
	font-size: small;
}

form#search #btnSearch {
	float: right;
}

input:invalid {
	outline: 2px solid red;
}

input:focus:invalid {
  color: red;
}

input:disabled {
  color: #b7cee7;
}

ul.supportList {
	list-style: none;
  padding: 0;
  margin: 0;
}

aside {
	width: 40%;
	float: right;
	border: 2px solid black;
	padding: 10px;
	box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

.supportList li {
	text-indent: 1rem;
}

.supportList li::before {
	content: "❌ ";
}

.supportList li.supported::before {
	content: "✅ ";
}

#faq .q {
	font-weight: bold;
}

#faq li.q:before {
	content: "Q: ";
}

#faq li.a:before {
	content: "A: ";
}

#faq li.a {
	margin-bottom: 1em;
}

.browse .category > div {
	padding: 6px;
	display: inline-block;
	font-size: 0.75em;
}

#containerMsq, #containerLog {
	display: inline-block;
	padding: 24px 0px 0px 24px;
}

#processing {
	color: darkorange;
}

.uploadOutput {
	background: #dbe5ea;
	padding: 8px 24px 8px 24px;
	margin-bottom: 1em;
}

.deleteLink, .downloadLink {
	text-decoration: none;
}

footer {
	display: block;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    margin-top: -120px; /* height of footer */
    width: 100%;
	overflow: hidden;
	text-align: center;
  }

footer a:link,footer a:active,footer a:visited {
	color: #f17006;
	text-decoration: none;
}
footer a:hover {
	color: #222222;
}

.ui-dialog .ui-dialog-titlebar, .ui-dialog .ui-dialog-buttonpane { 
	font-size: 0.8em; 
	font-weight: normal;
}

.ui-widget-content {
	background-color: #eeeeee !important;
}

#ts-dialogs {
	display: none;
	margin: 10px; 
}

#ts-menu {
	position: absolute;
	display: none;
	position: relative; 
	z-index: 999;
	background-color: #eeeeee;
}

#ts-menu-container {
	height: 40px;
}

.tsMenuItem {
    float: left;
	display: flex;
	/*min-width: 195px;*/
	height: 30px;
	border: 1px solid #7a8a99;
	background: linear-gradient(0deg, rgba(224,234,244,1) 0%, rgba(255,255,255,1) 66%, rgba(190,211,231,1) 100%);
	/*padding: 0px 0px 0px 40px !important;*/
	align-items: center;
	justify-content: center;
	margin: 5px !important;
}

.tsMenuItem:hover {
	height: 28px;
	border: 2px solid #b8cfe5;
}

.tsMenuItemImg {
}

.tsMenuSeparator {
	border: 1px solid #6382bf !important;
	background: #eeeeee !important;
	background-color: #eeeeee !important;
}

.tsMenuItemText {
	display:inline-block;
	font-size: 0.75em;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
}

.tsSubMenuItemText:hover {
	background: #a3b8cc !important;
}

.ui-menu { 
    overflow: hidden;
}
.ui-menu .ui-menu {
    overflow: visible !important;
}
.ui-menu > li { 
	background-color: #eeeeee;
    width: auto !important;
}
.ui-menu ul li {
    width:auto;
    display:block;
    float:none;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu .ui-menu-icon { 
    margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li { 
    float: left;
    display: block;
}

.ui-state-active {
	background: none !important;
	border: none !important;
	color: inherit !important;
	font-weight: bold !important;
}

.ui-menu-item-wrapper {
	display: block !important;
	padding: 3px 5px 3px .4em !important;
}

.tsDialog {
	overflow: hidden;
	background: #eeeeee !important;
	font-size: 1em; 
	padding: 0 10px 10px 0 !important;
	margin: 0;
}

.tsDialogClass .ui-dialog-titlebar {
	background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
}

.ts-controlgroup {
	width: 100%;
	padding: 0;
}

.ts-field-table {
	width: 100%;
	border: none !important;
	margin: 0;
	padding: 0;
	empty-cells: show;
}

.ts-field-td-label {
	text-align: left;
	padding: 0 0 0 5px;
	border: none;
}

.ts-field-td-hint {
	margin: auto !important;
	padding: 2px 0 0 0px !important;
	border: none !important;
}

.ts-field-label {
	background: none;
	white-space: nowrap;
	padding-right: 5px;
	font-weight: normal;
	font-size: 1em;
}

.ts-field-label[disabled="disabled"] {
    color: #a798b5;
}

.ts-field-td-item {
	text-align: right;
	padding: 2px 0 0 10px;
	border: none;
}

.ts-field-item {
	margin: auto 0 auto auto;
	font-size: 0.8em;
	padding: 2px;
}

.ts-field-item-text {
	width: 75px !important;
}

.ts-field-item-select {
	width: 175px !important;
}

.ts-field-item-option {
	display: block;
}

.ts-field-td-slider {
	width: 100%;
	height: 35px !important;
	text-align: left;
	padding: 0 0 0 5px;
	border: none;
}

.ts-slider {
	width: 100%;
}

.ui-slider-tick-mark{
    display:inline-block;
    width:1px;
    background: #a3b8cc;
    height:4px;
    position:absolute;
    top:10px;
}

.ui-slider-horizontal .ui-state-default {
	border: none !important;
	outline: none !important;
	background: url("img/ts-icons/slider_handle.png") no-repeat !important;
	height: 15px !important;
	margin-bottom: -20px !important;
}

.ts-label {
	margin: auto 0 auto auto;
	text-align: left !important;
	font-weight: bold;
	padding: 2px;
	border: none !important;
}

.ts-field-button {
	margin: auto 0 auto auto;
	text-align: center !important;
	padding: 2px; 
	border: none !important;
}

.ts-button {
	background: linear-gradient(0deg, rgba(224,234,244,1) 0%, rgba(255,255,255,1) 66%, rgba(190,211,231,1) 100%) !important;
}

.ts-button-text {
	font-weight: bold !important;
}

.ts-label-red {
	background-color: red;
	color: white;
}

.ts-label-blue {
	background-color: blue;
	color: white;
}

.ts-ui-controlgroup-label {
	background: none;
}

.ui-spinner {
	background: #fff !important;
}

.ts-panel {
	font-size: 0.9em;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #b8cfe5 !important;
	padding: 5px;
	margin: 0;
}

.ts-panel:disabled {
	color: #a798b5 !important;
}

.ts-panel-horizontal {
	display: inline-block;
}

.ts-panel-vertical {
	display: block;
	height:100%;
}

.ts-panel-notitle {
	border: none;
}

.tune-note-div {
	padding: 5px 0;
	display: flex;
	align-items: center;
}

.tune-note-button {
	display: none;
}

#loading {
	display: none;
	z-index: 9999;
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    line-height: 20px;
    text-align: center;
}
